<div class="card" style="width: 22rem;">
  <div class="card-header">メモリスト</div>
  <% @memos.each do |memo| %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="stretched-link" href="/memos/<%= memo["id"] %>"><%= h(memo["title"]) %></a></li>
    </ul>
  <% end %>
</div>

<div class="add_button">
  <a href="/new"><button type="button" class="btn btn-primary">+メモを追加する</button></a>
</div>
