<legend>memo list</legend>
  <ul class="nav flex-column">
    <% @memos.each do |memo|  %>
      <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="/memos/<%= h(memo['id']) %>"><%= h(memo['title']) %></a>
      </li>
    <% end %>
  </ul>
  <a href="/new"><button type="button" class="btn btn-primary">+メモを追加する</button></a>
</div>
