<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>memo app</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>

<div class="container">
    <header>
      <h1><a href="/memos">メモアプリ</a></h1>
    </header>
      <body>
          <%= yield %>
      </body>
    </div>
</html>
