<form action="/" method="post">
    <label for="article">タイトル</label>
    <input type="text" name="article">
    <p></p>
    <div>
        <label for="name">内容</label>
        <textarea name= "article" cols="30" rows="3"></textarea>
      </div>
    <div>
      <button type="submit"href="/memos">＋メモを追加</button>
      <a class="btn-danger" href="/memos"> キャンセル</a>
    </div>
</form>
