<div class="new">
  <form action="/memos" method="POST">
    <h3>タイトル</h3>
    <div>
      <input type="text" name="title" required>
    </div>
    <h3>メモの内容</h3>
    <div>
      <textarea name="content" required></textarea>
    </div>
    <div>
      <button type="submit">送信する</button>
      <a class="btn-danger" href="/memos"> キャンセル</a>
    </div>
  </form>
</div>
