<h2>メモタイトル</h2>
  <p><%= h(@memo[:title]) %></p>
<h2>内容</h2>
<p><%= h(@memo[:content]) %></p>

<div class="btn-toolbar" role="toolbar">
  <form action="/memos/<%= @memo[:id] %>/edit" method="get">
    <input class="btn btn-primary" type="submit" value="編集する">
  </form>
  <form action="/memos/<%=@memo[:id]%>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn btn-danger" value="削除する" onclick="return confirm('本当に削除しますか？')">
  </form>
    <a href="/memos"><button class="btn btn-secondary">もどる</button></a>
</div>
