
.container {
    display: grid;
    place-items: center;
  }

.header {
  background-color: gray;
  flex: 1;
  margin-top: 0.7em;
}

.add_button {
  margin: 1em;
  padding: 1em;
}

.btn-toolbar {
  padding: 1em;
}

#dialog{
  position:fixed;
  left: -400px;
}
